<label>@Label</label>
<pre>
    <code>
        @Markup
    </code>
</pre>

@code {
    private string? Markup;

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public string? Label { get; set; }

    protected override void OnParametersSet()
    {
        ArgumentNullException.ThrowIfNull(Text);
        Markup = new MarkupString(Text).Value.ToString();
    }
}